*{font-size: 50PX}
.navbar{background-color:skyblue; justify-content: space-between; height: 80px;}
.navbar a  { color:white; margin-left: 50px; margin-bottom: 10px ;text-align: center; text-justify: auto; font-family: monospace;font-size: 24px;}
@keyframes a32 {
    from { margin-top: 495px; }
    to {margin-top: 00px }
}
.about{ ;animation-name: a32; animation-duration: 10s}

iframe{margin: 0px; padding: 0px}